---
// import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
// import PostPreview from "@/components/blog/PostPreview";
// import SocialList from "@/components/SocialList";
// import { sortMDByDate } from "@/utils";

---

<PageLayout meta={{ title: "DeCare Software Solutions" }}>
  <section>
    <p>Hey there</p>
    
  </section>
	
</PageLayout>