---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import logoImg from "/src/assets/DeCare Logo_hires.png";
import bubbleBg from "/src/assets/bubble background.svg";
import ourWayImg from "/src/assets/our_way_diagram.png";

import DeCare_Landing_Floor from '@/components/Decare_landing_floor';

import reachUSLocationIco from "/src/assets/icons/location.png";
import reachUSPhonneIco from "/src/assets/icons/phone.png";
import reachUSEmailIco from "/src/assets/icons/email.png";

import financeIco from "/src/assets/icons/finance hex.png";
import hotelIco from "/src/assets/icons/hotel hex.png";
import schoolIco from "/src/assets/icons/school hex.png";
import hospitalIco from "/src/assets/icons/hospital hex.png";
import industryIco from "/src/assets/icons/industrie hex.png";

---

<DeCare_Landing_Floor/>
<PageLayout meta={{ title: "DeCare Software Solutions" }}>
  <!-- <section class="h-screen"> -->
    <section class="h-screen relative overflow-hidden">
      <div class="w-60 relative z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-[125%]">
        <Image
          src={logoImg}
          alt="DeCare logo"
          loading="eager"
        />
      </div>
      <div class="absolute top-0 right-0 w-full h-full pointer-events-none">
        <DeCare_Landing_Floor/>
      </div>
      <!-- <Image
        src="https://res.cloudinary.com/de6kzzp5h/image/upload/f_auto,q_auto/v1/DeCare/DeCare_Logo_tdgvqh"
        alt="CDN DeCare logo"
        loading="eager"
        width={174}
        height={60}
      /> -->
      <!-- <Image
        src={bubbleBg}
        alt="Bubble Background"
        loading="eager"
      /> -->
      <div class="absolute left-2/4 transform -translate-x-1/2 bottom-20 container">
        <span class="block text-center">"We are good in understanding needs and providing software solutions..."</span>
        <span class="block text-center text-[0.65rem]/[0.8rem]">
          (Its our confidence gained from experience not our pride.)
        </span>
        <span class="block text-center text-[0.65rem]/[0.8rem]">
          Scroll down for a 5 minutes read.
        </span>
      </div>
    </section>
    <section>
      <h1 class="title">Why we are into Softwares</h1>
      <p>
        We are fascinated by the capabilities of computers and its growth in every sense and finds nirvana in 
        controlling them, through the codes we compose.. Then we understood that nirvana alone won't win you bread.. 
        Then we thought to use our skills to help the needy to win our bread, and nirvana as a kick.
      </p>
      <p>
        So we founded Data and People Care. In short, De Care to create affordable software's which precisely 
        serves the purpose of the clients and give us bread and the kick we mentioned.
      </p>
      <p>
        Our software's can comfortably capture & organize data, and analyse it to the highest level of accuracy, 
        and reproduce it in a sensible way, to get a clear picture of the scene, to communicate and set directions.
      </p>
      <p>
        Letting the computer to handle this tedious, boring and repetitive, but very important area of 
        data capture and analytics can reduced stress on employees making them more human towards 
        colleagues and customers.
      </p>
      <p>
        We started our operations in the year 2000 from TBI NIT (formerly REC) Calicut, Kerala with 
        sponsorship of Government of India National Science and Technology Entrepreneurship Development Board. 
        As years passed by, we moved to software capital Bangalore.
      </p>
    </section>
</PageLayout>