---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import logoImg from "/src/assets/DeCare Logo_hires.png";
import bubbleBg from "/src/assets/bubble background.svg";
import ourWayImg from "/src/assets/our_way_diagram.png";
---

<PageLayout meta={{ title: "DeCare Software Solutions" }}>
  <section>
    <Image
			src={logoImg}
			alt="DeCare logo"
			loading="eager"
		/>
    <!-- <Image
			src="https://res.cloudinary.com/de6kzzp5h/image/upload/f_auto,q_auto/v1/DeCare/DeCare_Logo_tdgvqh"
			alt="CDN DeCare logo"
			loading="eager"
      width={174}
      height={60}
		/> -->
    <Image
			src={bubbleBg}
			alt="Bubble Background"
			loading="eager"
		/>
    <div>
      <span class="block text-center">"We are good in understanding needs and providing software solutions..."</span>
      <span class="block text-center">
        (Its our confidence gained from experience not our pride.)
        Scroll down for a 5 minutes read.
      </span>
    </div>
  </section>
  <section>
    <h1 class="title">Why we are into Softwares</h1>
    <p>
      We are fascinated by the capabilities of computers and its growth in every sense and finds nirvana in 
      controlling them, through the codes we compose.. Then we understood that nirvana alone won't win you bread.. 
      Then we thought to use our skills to help the needy to win our bread, and nirvana as a kick.
    </p>
    <p>
      So we founded Data and People Care. In short, De Care to create affordable software's which precisely 
      serves the purpose of the clients and give us bread and the kick we mentioned.
    </p>
    <p>
      Our software's can comfortably capture & organize data, and analyse it to the highest level of accuracy, 
      and reproduce it in a sensible way, to get a clear picture of the scene, to communicate and set directions.
    </p>
    <p>
      Letting the computer to handle this tedious, boring and repetitive, but very important area of 
      data capture and analytics can reduced stress on employees making them more human towards 
      colleagues and customers.
    </p>
    <p>
      We started our operations in the year 2000 from TBI NIT (formerly REC) Calicut, Kerala with 
      sponsorship of Government of India National Science and Technology Entrepreneurship Development Board. 
      As years passed by, we moved to software capital Bangalore.
    </p>
  </section>

  <section>
    <h1 class="title">How we do Software.</h1>
    <Image
			src={ourWayImg}
			alt="Our way diagram"
			loading="eager"
		/>
    <!-- <Image
			src="https://res.cloudinary.com/de6kzzp5h/image/upload/f_auto,q_auto/v1/DeCare/Our_way_diagram_sierci"
			alt="CDN Our way diagram"
			loading="eager"
      width={1256}
      height={1256}
		/> -->
    <p>
      Our journey taught us that there should be an operation strategy, 
      so as to bring <u>Uniformity & Consistency</u> in our operations. 
      From our learnings of the past and the predictions of the future, 
      we evolved the circle above into
      <u>4 equally important quarters</u>:
      <span class="block">
        <!-- <ol type="1">
          <li>Understand</li>
          <li>Solve</li>
          <li>Train</li>
          <li>Support</li>
        </ol> -->
        1) Understand, 2) Solve, 3) Train and 4) Support.
      </span> 
      <!-- <span class="block">This is how we operate.</span> -->
    </p>
  </section>

  <section>
    <h1 class="title">What we did</h1>
    <p>
      In our journey of 18 years, we happened to make a few folks happy with our solutions. 
      A glimpse is given below.
    </p>

    <div class="flex justify-around items-center h-20 border rounded-xl border-accent font-square font-light">
      <div class="flex flex-col items-center">
        <span class="text-3xl">18</span>
        <span class="text-sm relative left-1">Years</span>
      </div>
      <div class="flex flex-col items-center relative left-2">
        <span class="text-3xl">41</span>
        <span class="text-sm">Products</span>
      </div>
      <div class="flex flex-col items-center relative left-2">
        <span class="text-3xl">
          150<sup>+</sup>
        </span>
        <span class="text-sm relative right-2">Clients</span>
      </div>
    </div>
    
  </section>

  <section>
    <h1 class="title">Reach Us</h1>
    <p>
      If you want to get something done by computers, let us know, because we are a team who finds fulfilment 
      in making the computer dance to your lyrics, composed by us.
    </p>
  </section>

  <span class="block text-[0.65rem]/[0.8rem] text-center">A big shoutout to  www.vecteezy.com who could read our minds to some 60% 
    and created vectors reducing our job to 40%
  </span>
	
</PageLayout>